:root {
	--primary-color: #000; 
	--secondary-color: #FFF; 
	--accent-color: maroon;
	--background-color: #F0F0F0; /* Light gray */
	--font-family: 'Roboto', sans-serif;
  }
  
  body {
	font-family: var(--font-family);
	background-color: var(--background-color);
	color: var(--primary-color);
	margin: 0;
	padding: 0;
	line-height: 1.6;
  }
  
  header {
	background-color: var(--accent-color);
	color: var(--secondary-color);
	padding: 20px;
	width: 100%;
  }
  
  main {
	padding: 20px;
  }
  
  section {
	margin-bottom: 20px;
  }
  
  h1, h2 {
	font-weight: bold;
	text-align: center;
  }
  
  h2 {
	color: var(--accent-color);
  }
  
  dl {
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px;
  }
  
  dl dt {
	font-weight: bold;
  }

  section {
    width: 100%; 
    margin: 0 auto;
    text-align: center; 
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
}

  .weather-heading {
    text-align: center; /* Center the heading */
}

.weather-heading::after {
    content: ''; 
    display: block;
    margin: 0 auto; 
    width: 50px; 
    height: 50px; 
    background-image: url('images/weather-emoticon.png'); 
    background-size: cover;
}

 
  
  footer {
	background-color: var(--accent-color);
	color: var(--secondary-color);
	padding: 10px;
	text-align: center;
	width: 100%;
  }
  
  /* Media query for large screens */
  @media (min-width: 800px) {
	body {
	  font-size: 18px;
	}
  }
  
  /* Pseudo-element for weather icon */
  .weather-heading::after {
	content: url('images/weather-emoticon.png');
	display: inline-block;
	margin-left: 10px;
	width: 30px; 
	height: 30px;
  }
  